div.panel.panel-default
	div.panel-heading= t('login')
	form(id="login", method='post', action='/users/login')
		div.panel-body
			div.input-group
				span.input-group-addon
					i.glyphicon.glyphicon-user
				input.form-control(type='text', name='name', placeholder=t('insert username') required)
			div.input-group
				span.input-group-addon
					i.glyphicon.glyphicon-lock
				input.form-control(type='password', name='password', placeholder=t('insert password') required)
		div.panel-footer
			button.btn.btn-primary(type='submit')= t('submit')
div.panel.panel-default
	div.panel-heading= t('sign in with social network')
	div.panel-body
		div.btn-group(role="group" aria-label="Basic example")
			a.btn.btn-yandex(href="users/auth/yandex")= t('Yandex')
			a.btn.btn-mailru(href="users/auth/mailru")= t('Mail.ru')
			a.btn.btn-google(href="users/auth/google")= t('Google')
			a.btn.btn-odnoklassniki(href="users/auth/ok")= t('Odnoklassniki')
			a.btn.btn-vk(href="users/auth/vk")= t('Vkontakte')