//- подменю для mainnavbar
mixin subitem(subitem,needcaret)
  a.dropdown-toggle(data-toggle="dropdown",href='#')= t(subitem["name"])
    if needcaret
      span.caret
  ul.dropdown-menu.multi-level(role="menu" aria-labelledby="dropdownMenu")
    each item in subitem.submenu
      if item.submenu
        li.dropdown-submenu
          +subitem(item)
      else      
        li(class=(item.active ? 'active' : ''))
          a(href=item["link"])= t(item["name"])              

//- список статей для пользователя (упрощенный)
//- gliph https://www.w3schools.com/icons/bootstrap_icons_glyphicons.asp            
mixin listarticlesuser(items)
  div.sidebar-nav
    //-div.sidebar-header
    input.form-control(id="listarticlesuser" type="text" placeholder=t('insert text for search'))
    ul.list-unstyled.components(id="listarticlesuser")
      each item in articles
        a.list-group-item(href="/articles/read/"+item.id)=item.title

//- список статей для админа (упрощенный)            
mixin listarticlesadminv1(items)
  div.sidebar-nav
    //- div.sidebar-header
    input.form-control(id="listarticleadmin" type="text" placeholder=t('insert text for search'))
    ul.list-group(id="listarticleadmin")
      a.list-group-item(href="/articles/new?userrole=admin" title=t("new article"))
        i.glyphicon.glyphicon-plus.text-success
      each item in items
        li.list-group-item
          a.btn(href="/articles/read/"+item.id+"?userrole=admin")=item.title
          if user
            if user.role==1
              div.pull-right.action-buttons
                a.btn.glyphicon.glyphicon-pencil(href="/articles/edit/"+item.id+"?userrole=admin" title=t("edit"))
                a.btn.glyphicon.glyphicon-trash.text-danger(href="/articles/delete/"+item.id+"?userrole=admin" title=t("remove"))
                
//- список статей для админа (2 версия)
mixin listarticlesadmintablev2(items)
  div.sidebar-nav
    div.panel.panel-default.panel-table
      input.form-control(id="listarticleadmintable" type="text" placeholder=t('insert text for search'))
      div.panel-body.table-responsive
        table.table.table-striped.table-hover
          thead
            tr
              th.hidden-xs ID
              th= t('title')
              th.hidden-xs= t('description')
              th.hidden-xs= t('author')              
              th
              th
          tbody(id="listarticleadmintable")
            tr
              a.list-group-item(href="/articles/new?userrole=admin" title=t("new article"))
                i.glyphicon.glyphicon-plus.text-success
            each item in items
              tr
                td.hidden-xs=item.id
                td(id="findtext")
                  a(href="/articles/read/"+item.id+"?userrole=admin")=item.title
                td.hidden-xs(id="findtext")=item.description
                td.hidden-xs(id="findtext")=item.author                
                td
                  a.btn.glyphicon.glyphicon-pencil(href="/articles/edit/"+item.id+"?userrole=admin", title=t("edit"))
                td
                  a.btn.glyphicon.glyphicon-trash.text-danger(href="/articles/delete/"+item.id+"?userrole=admin", title=t("remove"))
      div.panel-footer
        ul.pagination.hidden-xs
          li
            a(href="#") 1
            a(href="#") 2
            a(href="#") 3
        ul.pager.visible-xs
          li
            a(href="#") &laquo;
            a(href="#") &raquo;
            
//- список статей для админа (3 версия)
mixin listarticlesadmintablev3(items)
  div.sidebar-nav
    div.panel.panel-default.filterable
      div.panel-body.table-responsive
        table.table.table-striped.table-hover
          thead
            tr.filters
              th.hidden-xs
                input.form-control(type="text" placeholder="ID")
              th
                input.form-control(type="text" placeholder=t('title'))
              th.hidden-xs
                input.form-control(type="text" placeholder=t('description'))
              th.hidden-xs
                input.form-control(type="text" placeholder=t('author'))          
              th
              th
          tbody(id="listarticleadmintable")
            tr
              a.list-group-item(href="/articles/new?userrole=admin" title=t("new article"))
                i.glyphicon.glyphicon-plus.text-success
            each item in items
              tr
                td.hidden-xs=item.id
                td
                  a(href="/articles/read/"+item.id+"?userrole=admin")=item.title
                td.hidden-xs(id="findtext")=item.description
                td.hidden-xs(id="findtext")=item.author                
                td
                  a.btn.glyphicon.glyphicon-pencil(href="/articles/edit/"+item.id+"?userrole=admin", title=t("edit"))
                td
                  a.btn.glyphicon.glyphicon-trash.text-danger(href="/articles/delete/"+item.id+"?userrole=admin", title=t("remove"))
      div.panel-footer
        ul.pagination.hidden-xs
          li
            a(href="#") 1
            a(href="#") 2
            a(href="#") 3
        ul.pager.visible-xs
          li
            a(href="#") &laquo;
            a(href="#") &raquo;

//- список сессий
mixin listsessions(items)
  div.sidebar-nav
    div.panel.panel-default.filterable
      div.panel-body.table-responsive
        table.table.table-striped.table-hover
          thead
            tr.filters
              th ID
              th=t("last visit")
              th=t("theme")
              th=t("language")
              th=t("system")
              th
          tbody(id="listsessions")
            a.list-group-item(href="/sessions/delete/all" title=t("clear all"))
              i.glyphicon.glyphicon-trash.text-danger
            each item in items
              tr
                td=item.id
                td=item.lastVisit       
                td=item.theme
                td=item.locale
                td=typeof item.mobile !== "undefined" ? t("mobile") : t("desktop")
                td
                  a.btn.glyphicon.glyphicon-trash.text-danger(href="/sessions/delete/"+item.id+"?userrole=admin", title=t("remove"))

//- лог
mixin listlog(items)
  dev.sidebar-nav
    //div.sidebar-header text
    ul.list-group
      each item in items.length ? items : ['There are no values']
        li.list-group-item
          small= item

//- список писем и форма для отправки нового сообщения
//- table-responsive для очень маленьких дисплеев - позволяет скроллировать слишком широкие строки
mixin listmail(mail,users)
  div
    div.panel.panel-default.filterable
      div.table-responsive
        table.table.mail.table.table-striped.table-hover
          thead
            tr.filters
              th
                input.form-control(type="text" placeholder=t('user'))
              th
                input.form-control(type="text" placeholder=t('message'))
              th
              th
          tbody
            each item,index in mail
              tr
                td= item.from.username
                td= item.message
                td
                  a.btn.btn-success.hidden-xs(href="/mail/reply/"+item.id)=t('reply')
                  a.btn.glyphicon.glyphicon-share-alt.text-success.visible-xs(href="/mail/reply/"+item.id)              
                td
                  a.btn.btn-danger.hidden-xs(href="/mail/delete/"+item.id)=t('delete')
                  a.btn.glyphicon.glyphicon-trash.text-danger.visible-xs(href="/mail/delete/"+item.id)
    form.well(action="/mail/send",method="POST")
      legend=t('send message')
      div.form-group
        div.input-group
          span.input-group-addon
            i.glyphicon.glyphicon-user
          select.form-control(name="id")
            for item in users
              option(value=item.id) #{item.username}
      div.form-group
        div.input-group
          span.input-group-addon
            i.glyphicon.glyphicon-pencil          
          textarea.form-control(rows="4",name='message', aria-label=t('insert message'), placeholder=t('insert message') required)
      div.form-group
        button.btn.btn-warning(type='submit')= t('submit')
          span.glyphicon.glyphicon-send

//- вывод блока сообщения
mixin messages(messages)
  for message in messages
    - cls="alert alert-"+message.type
    div(class=cls)
      a.close(href="#" data-dismiss="alert") ×
      case message.type
          when 'success'
              strong=t('info')
          when 'info'
              strong=t('info')
          when 'warning'
              strong=t('warning')
          when 'danger'      
              strong=t('danger')
          default
              string=t('?')
      pre= message.text