mixin subitem(subitem,needcaret)
  a.dropdown-toggle(data-toggle="dropdown",href='#')= t(subitem["name"])
    if needcaret
      span.caret
  ul.dropdown-menu.multi-level(role="menu" aria-labelledby="dropdownMenu")
    each item in subitem.submenu
      if item.submenu
        li.dropdown-submenu
          +subitem(item)
      else      
        li(class=(item.active ? 'active' : ''))
          a(href=item["link"])= t(item["name"])              

//- gliph https://www.w3schools.com/icons/bootstrap_icons_glyphicons.asp            
mixin listarticles(items)
  dev.sidebar-nav
    //div.sidebar-header text
    input.form-control(id="listarticles" type="text" placeholder=t('insert text for search'))
    ul.list-unstyled.components(id="listarticles")
      each item in articles
        li.list-group-item
          a(href="/articles/read/"+item._id)=item.title
          if user
            if user.role==1
              div.pull-right.action-buttons
                a.glyphicon.glyphicon-pencil(href="/articles/edit/"+item._id title=t("edit"))
                a.glyphicon.glyphicon-remove(href="/articles/delete/"+item._id title=t("remove"))

mixin listlog(items)
  dev.sidebar-nav
    //div.sidebar-header text
    ul.list-group
      each item in items.length ? items : ['There are no values']
        li.list-group-item
          small= item

mixin listmail(mail)
  table.mail
    thead
      tr
        th= t('user')        
        th= t('message')
        th #
    tbody
      each item,index in mail.messages
        tr
          form(action="/users/maildelete",method="GET")
            td= item.from.username
            td= item.message
            td
              input(type="hidden",name="_id",value=item._id)
              a(href="Delete"): button(type="submit")=t('Delete')
  form(action="/users/mailaddmessage",method="GET")
    table.sendmessage
      tr
        td= t('recipient')
        td
      tr(width="100%")
        td
          select(name="_id")
            for item in mail.users
              option(value=item._id) #{item.username}
        td
      tr
        td
          textarea(rows="4",cols="60", name='message', placeholder=t('insert message'))
        td
          a(href="Send"): button(type="submit")=t('Send') 