//- подменю для mainnavbar
mixin subitem(subitem,needcaret)
  a.dropdown-toggle(data-toggle="dropdown",href='#')= t(subitem["name"])
    if needcaret
      span.caret
  ul.dropdown-menu.multi-level(role="menu" aria-labelledby="dropdownMenu")
    each item in subitem.submenu
      if item.submenu
        li.dropdown-submenu
          +subitem(item)
      else      
        li(class=(item.active ? 'active' : ''))
          a(href=item["link"])= t(item["name"])              

//- gliph https://www.w3schools.com/icons/bootstrap_icons_glyphicons.asp            
mixin listarticlesuser(items)
  div.sidebar-nav
    //-div.sidebar-header
    input.form-control(id="listarticlesuser" type="text" placeholder=t('insert text for search'))
    ul.list-unstyled.components(id="listarticlesuser")
      each item in articles
        a.list-group-item(href="/articles/read/"+item._id)=item.title

//- gliph https://www.w3schools.com/icons/bootstrap_icons_glyphicons.asp            
mixin listarticlesadmin(items)
  div.sidebar-nav
    //-div.sidebar-header
    input.form-control(id="listarticleadmin" type="text" placeholder=t('insert text for search'))
    ul.list-group(id="listarticleadmin")
      a.list-group-item(href="/articles/new" title=t("new"))
        i.glyphicon.glyphicon-plus
      each item in articles
        li.list-group-item
          a.btn(href="/articles/read/"+item._id)=item.title
          if user
            if user.role==1
              div.pull-right.action-buttons
                a.btn.glyphicon.glyphicon-pencil(href="/articles/edit/"+item._id title=t("edit"))
                a.btn.glyphicon.glyphicon-trash(href="/articles/delete/"+item._id title=t("remove"))

mixin listarticlesadmintable(items)
  div.sidebar-nav
    div.panel.panel-default.panel-table
      input.form-control(id="listarticleadmintable" type="text" placeholder=t('insert text for search'))
      div.panel-body
        table.table.table-striped.table-hover
          thead
            tr
              th.hidden-xs ID
              th= t('title')
              th.hidden-xs= t('description')
              th.hidden-xs= t('author')              
              th
          tbody(id="listarticleadmintable")
            tr
              a.list-group-item(href="/articles/new?userrole=admin" title=t("new article"))
                i.glyphicon.glyphicon-plus
            each item in articles
              tr
                td.hidden-xs=item._id
                td(id="findtext")
                  a(href="/articles/read/"+item._id+"?userrole=admin")=item.title
                td.hidden-xs(id="findtext")=item.description
                td.hidden-xs(id="findtext")=item.author                
                td
                  a.btn.glyphicon.glyphicon-pencil(href="/articles/edit/"+item._id+"?userrole=admin", title=t("edit"))
                  a.btn.glyphicon.glyphicon-trash(href="/articles/delete/"+item._id+"?userrole=admin", title=t("remove"))
      div.panel-footer
        ul.pagination.hidden-xs
          li
            a(href="#") 1
            a(href="#") 2
            a(href="#") 3
        ul.pager.visible-xs
          li
            a(href="#") &laquo;
            a(href="#") &raquo;               

mixin listlog(items)
  dev.sidebar-nav
    //div.sidebar-header text
    ul.list-group
      each item in items.length ? items : ['There are no values']
        li.list-group-item
          small= item

mixin listmail(mail)
  table.mail
    thead
      tr
        th= t('user')        
        th= t('message')
        th #
    tbody
      each item,index in mail.messages
        tr
          form(action="/users/maildelete",method="GET")
            td= item.from.username
            td= item.message
            td
              input(type="hidden",name="_id",value=item._id)
              a(href="Delete"): button(type="submit")=t('Delete')
  form(action="/users/mailaddmessage",method="GET")
    table.sendmessage
      tr
        td= t('recipient')
        td
      tr(width="100%")
        td
          select(name="_id")
            for item in mail.users
              option(value=item._id) #{item.username}
        td
      tr
        td
          textarea(rows="4",cols="60", name='message', placeholder=t('insert message'))
        td
          a(href="Send"): button(type="submit")=t('Send') 