h3= t('profile')
form(id="signup", encType="multipart/form-data", method='post', action='/users/profile')
	dd
		if user.userpic
			img.userpic(align="middle", src=user.userpic)
		else
			img.userpic(src="/images/default-userpic.png")
		dt= t('userpic')
		dd
			input(type='file', name='userpic')
		dt= t('firstname')
		dd
			input(type='text', name='firstname', value=profile.firstName, placeholder=t('insert firstname'))
		dt= t('secondname')
		dd
			input(type='text', name='secondname', value=profile.secondName, placeholder=t('insert secondname'))
		dt= t('threename')
		dd
			input(type='text', name='threename', value=profile.threeName, placeholder=t('insert threename'))
		dt= t('borndate')
		dd
			- var userborn
			- if (user.born) userborn=profile.born.toISOString().slice(0, 10);
			input(type='date', name='born', value=userborn, required, placeholder=t('insert born'))
		dt= t('gender')
		dd
			select(name='gender')
				option(value='male' selected=(profile.sex==="male"))= t('male')
				option(value='female' selected=(profile.sex==="female"))= t('female')				
		dt= t('username')
		dd
			input(type='text', name='name', value=profile.username, placeholder=t('insert username'))
		dt= t('password')
		dd
			input(type='password', name='password', placeholder=t('insert password'))
		dt= t('e-mail')
		dd
			input(type='text', name='email', value=profile.email, placeholder=t('insert e-mail'))
		dt= t('locale')			
		dd
			select(name='locale')
				option(value='ru' selected=(profile.locale==="ru"))= t('russian')
				option(value='en' selected=(profile.locale==="en"))= t('english')				
		input(type='submit')