//- articles.pug
extends layouts/main

include includes/mixins

block title
    h2= t('articles')

//- показываем рекламный блок только пользователям
//- или всем незалогиненым
block ads
    if user
        if user.role==1
        else
            include includes/ads.pug
    else
        include includes/ads.pug

block content
    if articles
        if articles.length>0
            if user
                if user.role==1
                    //- +listarticlesadmin(articles)
                    +listarticlesadmintable(articles)
                else
                    +listarticlesuser(articles)
            else
                +listarticlesuser(articles)
    else
        p= t('Will see you soon articles')

    if article
        div.jumbotron
            if article.command=="read"
                h3= article.title
                small= article.description
                div.blockquote= article.text
                    footer= article.author+" (c)"
            if article.command=="edit"
                include includes/articleform.pug