//- articles.pug
extends layouts/main

block title
    h2= t('articles')

block content
    if articles
        if articles.length>0
            if user
                if user.role==1
                    div
                        +listarticlesadminv1(articles)
                        +listarticlesadmintablev2(articles)
                        +listarticlesadmintablev3(articles)
                else
                    +listarticlesuser(articles)
            else
                +listarticlesuser(articles)
    else
        p= t('Will see you soon articles')
    
    div.jumbotron    
        if article
            if article.command=="read"
                h3= article.title
                small= article.description
                div.blockquote= article.text
                    footer= article.author+" (c)"
            if article.command=="edit"
                include includes/articleform.pug
        else
            h3=t('please select article from menu')